h1 {
    font-family: 'Encode Sans Semi Condensed', serif;
    font-size: 40px;
    text-align: center;
    color: #52B0E0;
}

h2 {
    font-family: 'Encode Sans Semi Condensed', serif;
    font-size: 30px;
    text-align: center;
    color: #52B0E0;
}

body {
    font-family: 'Encode Sans Semi Condensed', serif;
    font-size: 20px;
    margin: 10px;
    color: #52B0E0;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

/* .buttonContainer {
    float: left;
    width: 100%;
} */

.sButton {
    background-color: #52B0E0;
    border: 2px solid #52B0E0;
    text-align: center;
    font-weight:bold;
    color: #ffffff;
    padding: 5px 7px;
    float: left;
    width: 33%;
    height: 100%;
    margin-left: 2px;
}

.sButton:hover {
    text-decoration: none;
    background: #FFFFFF;
    border: 2px solid #52B0E0;
    color: #52B0E0;
}

/* ALL RESULTS STYLE */
.results {
    background-image: url('../images/pizza-flow.gif');
    background-size: repeat;
    padding: 3rem;
    height: 475px;
}

/* TWITTER RESULTS STYLE */
.results_container {
    float: left;
    width: 40%;
    max-width: 40%;
    overflow-y: auto;
    height: 500px;
}

.word_container {
    float: right;
    width: 40%;
    max-width: 40%;
    height: 475px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
}

.list_container {
    float: left;
    width: 50%;
}