doctype html
html
    head
        title= title
        
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:200')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script
            include ../public/javascripts/homeScripts.js

    body
        h1= title
        
        form(id='tfnewsearch')
            input(type='text', id='searchField', class='searchTextInput', size='51', maxlength='50', value='')
            input(id='searchButton', type='submit', value='SEARCH', class='searchButton')
        
        block content