extends layout

block content
    
    if twitterResults
        br
        br
        br
        .results
            .results_container
                html !{twitterResults}
            .word_container
                h2 Most Twizza'd Words
                p
                    .list_container
                        b
                            | Of All Time
                        br
                        br
                        -for (var w = 0; w < wordsAllTime.length; w++)
                            | #{wordsAllTime[w].word}
                            br
                    .list_container
                        b
                            | In Recent Tweets
                        br
                        br
                        -for (var w = 0; w < wordsRecent.length; w++)
                            | #{wordsRecent[w].word}
                            br