extends layout

block content
    
    if twitterResults
        br
        br
        br
        .results_container
            html !{twitterResults}
        .word_container
            h2 Most Tweeted Words
            p
                -for (var w = 0; w < frequentWords.length; w++)
                    | #{frequentWords[w]}