doctype html
html
    head
        title Twizza
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:200')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script
            include ../public/javascripts/homeScripts.js

    body
        h1
            img.image(src='https://i.imgur.com/hRfGOXm.jpg', width='70')
            | Twizza
            img.image(src='https://i.imgur.com/hRfGOXm.jpg', width='70')
        //- .buttonContainer
        form(id='sentimentButtons')
            input(id='pos', type='submit', value='GOOD', class='sButton')
            input(id='neg', type='submit', value='BAD', class='sButton')
            input(id='all', type='submit', value='ALL', class='sButton')
        
        block content